header{
    height: 70px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .container{
    max-width: 1200px;
    height: 600px;
    overflow: hidden;
}

.row:nth-child(1){
    width: calc(100% - 20%);
    height: 100%;
}
.row:nth-last-child(1) {
    width: calc(100% - 80%);
    height: 100%;
}
.row:nth-last-child(1) .col{
    width: 100%;
    height: 100%;
}
.row:nth-last-child(1) .card{
    height: calc(100% / 5);
}

.card{
    position: relative !important;
}
.ms-card-title{
    position: absolute;
    bottom: 45%;
    right: 0;
    padding: 10px;
    color: red;
}
/* NODE AGGIUNGI LA CLASSE DISPLAY BLOCK DA JS */
.row:nth-last-child(1) .ms-card-title{  
    display: none; 
}


.cerchio-su{
    position: absolute;
    left: 45%;
    font-size: 25px ;

}
.cerchio-giu{
    position: absolute;
    left: 45%;
    bottom: 0;
    font-size: 25px;

}